html {

}

body {
  font-size: 14px;
  font-family: 'Open Sans', 'Monoton', cursive, sans-serif;

}

/* Navigation bar */
nav a {
  font-family: 'Open sans';
  font-size: 1.1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bcd1;
}

/* Jumbotron */
.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.jumbotron .container-fluid {
  margin-top: 11.85rem;
  margin-bottom: 11.85rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  width: 100%;
  height: 500px;
}

/* Featured Project */
.image-container img {
  opacity: 0.7;
}
