html {

}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Monoton', cursive;
}

/* Navigation bar */
nav a {
  font-family: 'Open sans';
  font-size: 1.1rem;
  font-weight: bold;
}

/* Jumbotron */
.jumbotron {
  text-align: center;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  width: 100%;
  height: 500px;
}
